html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.mainContainer {
    border: 3px solid black;
    height: 75vh;
}

.konvaContainer {
    border-right: 1px solid black;
}

.inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}